@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;

  margin: 0;
  padding: 0;
}

.title {
  font-weight: medium;
}
h2,
h3,
h4 {
  font-weight: bold;
}

header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
main {
  background-color: #fff9e8;
  padding: 2rem;
}

.contact {
  display: block;
  background: url("assets/Fichier 35.png") no-repeat center/100%;
  padding: 1rem 2.5rem;
  font-size: smaller;
}

.job {
  display: flex;
  justify-content: center;
  align-items: start;
}
.job::after {
  content: "";
  background: url("assets/Fichier 31.png") no-repeat center/100%;
}

.bio {
  display: flex;
  flex-wrap: wrap;
}
.bio-text {
  padding: 2rem;
  background: #4a7fc1;
  position: relative;
}

.bio-diamond {
  position: absolute;
  top: 10%;
  left: 0;
}
